In [1]:
from imfdatapy.imf import *

In [2]:
ifs = IFS(search_terms=["gross domestic product, real"], countries=["US"], period='Q', start_date="2000",
                  end_date="2022")
df = ifs.download_data()
df

2022-11-24 09:14:07,281 - root - INFO - countries_str = 'US', self.start_date = '2000', self.end_date = '2022'
2022-11-24 09:14:07,426 - root - INFO - Output all IMF series table to ../out/series_imf.csv
2022-11-24 09:14:07,434 - root - INFO - Output series containing 'IFS' table to ../out/series_ifs.csv
2022-11-24 09:14:18,719 - root - WARNING - Failed to download CL_FREQ.
2022-11-24 09:14:19,007 - root - INFO - Output dimension CL_AREA_IFS table to ../out/dim_cl_area_ifs.csv
2022-11-24 09:14:19,013 - root - INFO - Output dimension CL_INDICATOR_IFS table to ../out/dim_cl_indicator_ifs.csv
2022-11-24 09:14:19,213 - root - INFO - Output meta data of IFS table to ../out/meta_ifs.csv
2022-11-24 09:14:19,220 - root - INFO - self.meta_df.shape = (3, 3)
2022-11-24 09:14:19,221 - root - INFO - Output meta data of IFS containing 'gross domestic product, real' table to ../out/meta_gross domestic product, real_US_Q_2000_2022.csv
2022-11-24 09:14:19,370 - root - INFO - self.data_df.shape = (174, 5)
2022-11-24 09:14:19,377 - root - INFO - Output data of IFS containing 'gross domestic product, real' table to ../out/data_gross domestic product, real_US_Q_2000_2022.csv

,Description,Country,Period,Value,ID
0,"Gross Domestic Product, Real, Unadjusted, Dome...",US,2002-01-01,3263869,NGDP_R_NSA_XDC
1,"Gross Domestic Product, Real, Unadjusted, Dome...",US,2002-04-01,3362508,NGDP_R_NSA_XDC
2,"Gross Domestic Product, Real, Unadjusted, Dome...",US,2002-07-01,3401820,NGDP_R_NSA_XDC
3,"Gross Domestic Product, Real, Unadjusted, Dome...",US,2002-10-01,3460159,NGDP_R_NSA_XDC
4,"Gross Domestic Product, Real, Unadjusted, Dome...",US,2003-01-01,3340163,NGDP_R_NSA_XDC
...,...,...,...,...,...
169,"Gross Domestic Product, Real, Seasonally Adjus...",US,2021-07-01,4918148.5,NGDP_R_SA_XDC
170,"Gross Domestic Product, Real, Seasonally Adjus...",US,2021-10-01,5001545.3,NGDP_R_SA_XDC
171,"Gross Domestic Product, Real, Seasonally Adjus...",US,2022-01-01,4981022,NGDP_R_SA_XDC
172,"Gross Domestic Product, Real, Seasonally Adjus...",US,2022-04-01,4973817.8,NGDP_R_SA_XDC
173,"Gross Domestic Product, Real, Seasonally Adjus...",US,2022-07-01,5005430.3,NGDP_R_SA_XDC

In [3]:
ifs = IFS(search_terms=["gross Domestic Product, Real"], countries=["CA", "RU"],
                  period='Q',  start_date="1970", end_date="2022")
df = ifs.download_data()
df

2022-11-24 09:14:19,386 - root - INFO - countries_str = 'CA, RU', self.start_date = '1970', self.end_date = '2022'
2022-11-24 09:14:19,511 - root - INFO - Output all IMF series table to ../out/series_imf.csv
2022-11-24 09:14:19,527 - root - INFO - Output series containing 'IFS' table to ../out/series_ifs.csv
2022-11-24 09:14:30,838 - root - WARNING - Failed to download CL_FREQ.
2022-11-24 09:14:31,167 - root - INFO - Output dimension CL_AREA_IFS table to ../out/dim_cl_area_ifs.csv
2022-11-24 09:14:31,172 - root - INFO - Output dimension CL_INDICATOR_IFS table to ../out/dim_cl_indicator_ifs.csv
2022-11-24 09:14:31,344 - root - INFO - Output meta data of IFS table to ../out/meta_ifs.csv
2022-11-24 09:14:31,349 - root - INFO - self.meta_df.shape = (3, 3)
2022-11-24 09:14:31,350 - root - INFO - Output meta data of IFS containing 'gross Domestic Product, Real' table to ../out/meta_gross Domestic Product, Real_CA_RU_Q_1970_2022.csv
2022-11-24 09:14:31,618 - root - INFO - self.data_df.shape = (361, 5)
2022-11-24 09:14:31,620 - root - INFO - Output data of IFS containing 'gross Domestic Product, Real' table to ../out/data_gross Domestic Product, Real_CA_RU_Q_1970_2022.csv

,Description,Country,Period,Value,ID
286,"Gross Domestic Product, Real, Unadjusted, Dome...",RU,2003-01-01,12950180.3,NGDP_R_NSA_XDC
287,"Gross Domestic Product, Real, Unadjusted, Dome...",RU,2003-04-01,13906392.6,NGDP_R_NSA_XDC
288,"Gross Domestic Product, Real, Unadjusted, Dome...",RU,2003-07-01,15267819.4,NGDP_R_NSA_XDC
289,"Gross Domestic Product, Real, Unadjusted, Dome...",RU,2003-10-01,15661990.5,NGDP_R_NSA_XDC
290,"Gross Domestic Product, Real, Unadjusted, Dome...",RU,2004-01-01,13887920.9,NGDP_R_NSA_XDC
...,...,...,...,...,...
281,"Gross Domestic Product, Real, Seasonally Adjus...",RU,2020-07-01,22253279.9,NGDP_R_SA_XDC
282,"Gross Domestic Product, Real, Seasonally Adjus...",RU,2020-10-01,22417897,NGDP_R_SA_XDC
283,"Gross Domestic Product, Real, Seasonally Adjus...",RU,2021-01-01,22570515.7,NGDP_R_SA_XDC
284,"Gross Domestic Product, Real, Seasonally Adjus...",RU,2021-04-01,23290725.9,NGDP_R_SA_XDC
285,"Gross Domestic Product, Real, Seasonally Adjus...",RU,2021-07-01,23105679.7,NGDP_R_SA_XDC

In [4]:
ifs = IFS(series="DOT", search_terms=["trade"], countries=["US"], period='Q', start_date="2000",
          end_date="2022")
df = ifs.download_data()
df

2022-11-24 09:14:31,627 - root - INFO - countries_str = 'US', self.start_date = '2000', self.end_date = '2022'
2022-11-24 09:14:31,790 - root - INFO - Output all IMF series table to ../out/series_imf.csv
2022-11-24 09:14:31,809 - root - INFO - Output series containing 'DOT' table to ../out/series_dot.csv
2022-11-24 09:14:36,875 - root - ERROR - Cannot extract dimension CL_FREQ details.
2022-11-24 09:14:37,241 - root - ERROR - Cannot extract dimension CL_AREA_DOT details.
2022-11-24 09:14:37,508 - root - INFO - Output dimension CL_INDICATOR_DOT table to ../out/dim_cl_indicator_dot.csv
2022-11-24 09:14:37,515 - root - INFO - Output dimension CL_COUNTERPART_AREA_DOT table to ../out/dim_cl_counterpart_area_dot.csv
2022-11-24 09:14:37,607 - root - INFO - Output meta data of DOT table to ../out/meta_dot.csv
2022-11-24 09:14:37,619 - root - INFO - self.meta_df.shape = (1, 3)
2022-11-24 09:14:37,623 - root - INFO - Output meta data of DOT containing 'trade' table to ../out/meta_trade_US_Q_2000_2022.csv
2022-11-24 09:14:38,473 - root - ERROR - http://dataservices.imf.org/REST/SDMX_JSON.svc/CompactData/DOT/Q.US.TBG_USD.?startPeriod=2000&endPeriod=2022
2022-11-24 09:14:38,477 - root - INFO - self.data_df.shape = (3885, 5)
2022-11-24 09:14:38,484 - root - INFO - Output data of DOT containing 'trade' table to ../out/data_trade_US_Q_2000_2022.csv

,Description,Country,Period,Value,ID
0,"Goods, Value of Trade Balance, US Dollars",US,2000-01-01,3,TBG_USD
90,"Goods, Value of Trade Balance, US Dollars",US,2000-01-01,6.8,TBG_USD
180,"Goods, Value of Trade Balance, US Dollars",US,2000-01-01,1.6,TBG_USD
270,"Goods, Value of Trade Balance, US Dollars",US,2000-01-01,-88.7,TBG_USD
360,"Goods, Value of Trade Balance, US Dollars",US,2000-01-01,-483.4,TBG_USD
...,...,...,...,...,...
3524,"Goods, Value of Trade Balance, US Dollars",US,2022-04-01,-86.209846,TBG_USD
3614,"Goods, Value of Trade Balance, US Dollars",US,2022-04-01,31.302622,TBG_USD
3704,"Goods, Value of Trade Balance, US Dollars",US,2022-04-01,-2016.637022,TBG_USD
3794,"Goods, Value of Trade Balance, US Dollars",US,2022-04-01,-17.578287,TBG_USD
3884,"Goods, Value of Trade Balance, US Dollars",US,2022-04-01,-10909.023279,TBG_USD

In [ ]:
ifs = IFS(series="BOP", search_terms=["current account, total, credit"], countries=["US"], period='Q',
      start_date="2000", end_date="2022")
df = ifs.download_data()
df

2022-11-24 09:14:38,491 - root - INFO - countries_str = 'US', self.start_date = '2000', self.end_date = '2022'
2022-11-24 09:14:38,616 - root - INFO - Output all IMF series table to ../out/series_imf.csv
2022-11-24 09:14:38,624 - root - INFO - Output series containing 'BOP' table to ../out/series_bop.csv

In [ ]:
ifs = IFS(series="GFSR", search_terms=["central government"], countries=["US"], period='A', start_date="2000", end_date="2022")
df = ifs.download_data()
df

In [ ]:
ifs = IFS(series="FSI", search_terms=["Value of large exposures"], countries=["US"], period='A', start_date="2000", end_date="2022")
df = ifs.download_data()
df